@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  background: url('/public/chevron.svg') no-repeat;
  background-position: right 8px top 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 4px 20px;
}

input[type='text'],
input[type='password'] {
  @apply border border-[#d7d7d7] w-full rounded-md px-2 py-1 outline-blue-500/0 focus:outline-blue-500 duration-150;
}

label {
  @apply text-grayText;
}

textarea {
  @apply w-full focus:outline-blue-500 px-2 py-1 border border-[#d7d7d7] h-[100px] rounded-xl resize-none;
}

.delete {
  @apply scale-0 opacity-0 relative translate-x-11 duration-700;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
